<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
관리지 페이지

<button type="button" onclick="location.href='admin/point' ">포인트 관리</button>
<button type="button" onclick="location.href='admin/remove' ">회원 관리</button>

<!-- 랭킹보드 -->
<h2> 현재 랭킹 </h2>
<div>
    <table>
        <thead>
        <tr>
            <th th:text="No.">No.</th>
            <th th:text="ID">ID</th>
            <th th:text="포인트">포인트</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="m: ${members}">
            <td th:text="${m.member_number}">No.</td>
            <td th:text="${m.member_id}">ID</td>
            <td th:text="${m.member_point}">포인트</td>
            <td>
                <form th:action="@{/point/(member_point=${m.member_number})}" method="post">
                    <input type="text" id="member_point">
                    <button type="submit">포인트 업데이트</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
</html>