<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
Point를 모아보자


<button type="button" onclick="location.href='login' ">로그인</button>
<button type="button" onclick="location.href='register' ">회원가입</button>


<!-- 랭킹보드 -->
<h2> 현재 랭킹 </h2>
<div>
    <table>
        <thead>
        <tr>
            <th th:text="No.">No.</th>
            <th th:text="ID">ID</th>
            <th th:text="포인트">포인트</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="m: ${members}">
            <td th:text="${m.member_number}">No.</td>
            <td th:text="${m.member_id}">ID</td>
            <td th:text="${m.member_point}">포인트</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
</html>