<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
Point를 모아보자

<h4 th:text="|사용자 아이디 : ${member.member_id}|">로그인 사용자 아이디</h4>
<h4 th:text="|사용자 보유 포인트 : ${member.member_point}|">사용자 보유 포인트</h4>



<form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
</form>

</body>
</html>